
@font-face {
    font-family: 'sofiapro-light';
    src: url('fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1
{
	color:#00b894; 
	font-weight:bold;
	font-size: 34px;
}

p
{
	font-size: 20px;
	font-family: 'sofiapro-light', Arial, serif;
}

#relatif
{
	font-size: 1.4em;
}
