
@font-face {
    font-family: 'sofiapro-light';
    src: url('fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
	background-color: #E4E7E7;
}

h1
{
	color:#00b894; 
	font-weight:bold;
	font-size: 34px;
}

p
{
	font-size: 20px;
	font-family: 'sofiapro-light', Arial, serif;
}

#relatif
{
	font-size: 1.4em;
	font-family: 'sofiapro-light', Arial, serif;
}

a:hover
{
	color:#636e72;
}

a:visited
{
	color:#2d3436;
}
